@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white antialiased;
    font-family: 'Inter', sans-serif;
  }

  ::selection {
    @apply bg-primary/30 text-white;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #09090b;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }

  /* Override RainbowKit button styles */
  [data-rk] button {
    @apply !rounded-none !text-sm;
  }
}
